body {
  background-color: #48a1f5;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  align-items: center;
}
.Menu-Horizontal li a {
  display: block;
  color: #000000;
  padding: 0px 0px;
  text-decoration: none;
}
.Menu-Horizontal .Menu-Horizontal li a:hover {
  color: #4fbda3;
  font-style: 35px;
  border: 1px;
  border-radius: 4px;
  padding: 8px;
}
.div-slogan {
  padding: 120px 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1800px;
  gap: 65px;
}
.div-slo-texto {
  flex: 1;
  color: #000000;
  font-family: roboto;
  font-size: 86px;
}
.div-slo-texto p {
  text-align: center;
  padding: 30px;
}
.div-slogan-img img {
  padding: 0px 60px;
}

.Cabecera {
  padding: 5px 0px;
  background-color: #102a3a;
}
